{% extends "base.html" %}

{% block body %}
    <h1>IFC Sports</h1>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2 side_bar" style="border:2px solid #000">
          <ul class="nav nav-list">
              <li align="center" class="side_bar_sport"><a href="{% url home %}">Overall Rankings</a></li>
            <li class="nav-header quarter">Fall</li>
              <li align="center" class="side_bar_sport"><a href="{% url flag_football %}">{{sport_FF}}</a></li>
              <li align="center" class="side_bar_sport"><a href="{% url volleyball %}">{{sport_VB}}</a></li>
            <li class="nav-header quarter">Winter</li>
              <li align="center" class="side_bar_sport"><a href="{% url basketball %}">{{sport_BB}}</a></li>
              <li align="center" class="side_bar_sport"><a href="{% url soccer %}">{{sport_SR}}</a></li>
            <li class="nav-header quarter">Spring</li>
              <li align="center" class="side_bar_sport"><a href="{% url softball %}">{{sport_SB}}</a></li>
              <li align="center" class="side_bar_sport"><a href="{% url hockey %}">{{sport_HY}}</a></li>
          </ul>
        </div>
        <div class="span10" style="border:2px solid #000">
          <dt><h3>Flag Football</h3></dt>
        </div>
      </div>
     </div>
{% endblock %}
