{% extends "base.html" %}

{% block body %}
{% load multifor %}
{% load sport_extras %}

	<dt><h1>Overall Ranking</h1></dt>
	<dt><br></dt>
	<table class="table table-bordered">
	  <thead class="sport_brand">
	    <tr>
	      <th>Rank</th>
	      <th>Fraternity</th>
	      <th>{{sports.FF.display}}</th>
	      <th>{{sports.VB.display}}</th>
	      <th>{{sports.BB.display}}</th>
	      <th>{{sports.SR.display}}</th>
	      <th>{{sports.SB.display}}</th>
	      <th>{{sports.HY.display}}</th>
	      <th>Overall Points</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for rank in fraternities_list|length|get_range; fraternity in fraternities_list %}

	   <tr>
		<td>{{rank}}</td>
		<td>{{fraternity.name}}</td>
		<td>{{fraternity|overall_points:"FF"}}</td>
        {# You should fill in these appropriately #}
        {% comment %}
		<td>{{fraternity|overall_points:sport.VB}}</td>
	        <td>{{fraternity|overall_points:sport.BB}}</td>
		<td>{{fraternity|overall_points:sport.SR}}</td>
		<td>{{fraternity|overall_points:sport.SB}}</td>
		<td>{{fraternity|overall_points:sport.HY}}</td>
        {% endcomment %}
	   </tr>

	    {% endfor %}
	  </tbody>
	</table>
{% endblock %}
