






{% extends "base.html" %}
{% load sport_extras %}

{% block bodytitle %}

    <h1 class="body_title">{{sport.display}}</h1>
{% endblock %}


{% block body_content %}



  <div id="myCarousel" class="carousel slide">

        <ul class="nav nav-pills">

          <div class="btn-group">	  

            <button id="carousel_group_A"><a href="#myCarousel" id="carousel_group_A">Group A</a></button>

            <button id="carousel_group_B"><a href="#myCarousel" id="carousel_group_B">Group B</a></button>
          </div>
	</ul>


      <div class="carousel-inner">
        <div class="active item">
	  <h4>Group A</h4>
          <table class="table table-bordered">
            <thead class="sport_brand">



              <tr>
                <th class="tablehead_width_wltp_fraternity">Fraternity</th>

                <th class="tablehead_width_wltp">Wins</th>
                <th class="tablehead_width_wltp">Losses</th>

                <th class="tablehead_width_wltp">Ties</th>
		<th class="tablehead_width_wltp">Points</th>
              </tr>







            </thead>

            <tbody>

              {% for fraternity in sport|group:"A" %}



              <tr>

                <td>{{fraternity.name}}</td>
              </tr>



              {% endfor %}
            </tbody>
          </table>


        </div>

        <div class="item">
	<h4>Group B</h4>
          <table class="table table-bordered">
            <thead class="sport_brand">

	      <tr>
                <th class="tablehead_width_wltp_fraternity">Fraternity</th>
                <th class="tablehead_width_wltp">Wins</th>
                <th class="tablehead_width_wltp">Losses</th>
                <th class="tablehead_width_wltp">Ties</th>
		<th class="tablehead_width_wltp">Points</th>
	      </tr>

            </thead>
            <tbody>
               {% for fraternity in sport|group:"B" %}

               <tr>
                 <td>{{fraternity.name}}</td>
               </tr>

               {% endfor %}
            </tbody>
          </table>
         </div>
        </div>
     </div>
     
     <div>
	   <h3>Tournament</h3>
            <button id="hide">Hide</button>
	    <button id="show">Show</button>
	    <p><br></p>
      <table class="tournament_table" id="tournament_table" summary="Tournament Bracket">
	 <tr>
	   <td><p class="tournament" align="center">1. team name</p></td>
	   <td rowspan="2"><p class="tournament" align="center">team name</p></td>
	   <td rowspan="4"><p class="tournament" align="center">team name</p></td>
	   <td rowspan="4"><p class="tournament" align="center">team name</p></td>
	   <td rowspan="2"><p class="tournament" align="center">team name</p></td>
	   <td><p class="tournament" align="center">2. team name</p></td>
	 </tr>
	 <tr>
	   <td><p class="tournament" align="center">3. team name</p></td>
	   <td><p class="tournament" align="center">4. team name</p></td>
	 </tr>
	 <tr>
	   <td><p class="tournament" align="center">5. team name</p></td>
	   <td rowspan="2"><p class="tournament" align="center">team name</p></td>
	   <td rowspan="2"><p class="tournament" align="center">team name</p></td>
	   <td><p class="tournament" align="center">6. team name</p></td>
	 </tr>
	 <tr>
	   <td><p class="tournament" align="center">7. team name</p></td>
	   <td><p class="tournament" align="center">8. team name</p></td>
	 </tr>
       </table>
     </div>


{% endblock %}

